export PINATA_ACCESS_TOKEN=
export PINATA_API_KEY=
export PINATA_API_SERVER=
export PINATA_SECRET_API_KEY=
export IPFS_GATEWAY=
export MERKLE_API_BEARER_TOKEN=
export VERCEL_ORG_ID=
export VERCEL_PROJECT_ID=
export VERCEL_TOKEN=
